<ion-view title="Location Details" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="locationDetails-button8" class=" button button-positive  button-block ">Check In</button>
        <ion-list id="locationDetails-list6" class=" ">
            <ion-item class="item-icon-left  " id="locationDetails-list-item29">
                <i class="icon ion-location"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="locationDetails-list-item30">
                <i class="icon ion-ios-telephone"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="locationDetails-list-item31">
                <i class="icon ion-ios-clock"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="locationDetails-list-item32">
                <i class="icon ion-android-globe"></i>Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>