<ion-view title="My Neighborhoods" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="myNeighborhoods-list3" class=" ">
            <ion-item id="myNeighborhoods-list-item11" class="  ">Item</ion-item>
            <ion-item id="myNeighborhoods-list-item12" class="  ">Item</ion-item>
        </ion-list>
        <a ui-sref="menu.neighborhoodSearch" id="myNeighborhoods-button3" class=" button button-positive  button-block ">Add More</a>
    </ion-content>
</ion-view>