<ion-view title="Neighborhood Results" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="neighborhoodSearch-form2" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list id="neighborhoodSearch-list4" class=" ">
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>